.education, #edu {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    align-items: center;

}
.education {
    margin: 0 5px 0 5px;
    padding: 0;
}

